<div class="col-sm-3 col-md-3">
  <div class="thumbnail">
    <img src="http://www.wpclipart.com/signs_symbol/icons_oversized/male_user_icon.png" alt="...">
    <div class="caption">
      <h3><%= employee.name %></h3>
      <p><%= number_to_currency(employee.total, precision: 0, unit: "¢ ")%></p>
      <p> <a href="#" class="btn btn-primary" role="button">Charge</a> </p>
    </div>
  </div>
</div>
