<% if open_row_tag? employee_counter  %>
  <div class="row">
<% end %>
<div class="col-sm-3 col-md-3">
  <div class="thumbnail">
    <img src="http://www.wpclipart.com/signs_symbol/icons_oversized/male_user_icon.png" alt="...">
    <div class="caption">
      <h3><%= employee.name %></h3>
      <p><%= number_to_currency(employee.total, precision: 0, unit: "¢ ")%></p>
      <p>
      <%= form_for employee, url: charge_employee_path(employee), method: :post do |f| %>
        <%= f.submit "Charge", class: "btn btn-primary", role: "button" %>
      <% end %>
      </p>
    </div>
  </div>
</div>
<% if close_row_tag? employee_counter %>
  </div>
<% end %>
