<div class="header">
  <div class="box-960">
    <div class="header-elements">
      <div class="logo">
        <%= image_tag "misc/logo.png" %>
      </div>
      <a href="#" class="deploy-navigation"></a>
    </div>
    <div class="navigation">
      <a data-scroll-nav="0" href="#">  <i class="fa fa-arrow-up"></i>   <em>Home</em>      </a>
      <a data-scroll-nav="1" href="#">  <i class="fa fa-home"></i>     <em>Welcome</em>     </a>
      <a data-scroll-nav="2" href="#">  <i class="fa fa-user"></i>     <em>About</em>     </a>
      <a data-scroll-nav="3" href="#">  <i class="fa fa-picture-o"></i> <em>Team</em> </a>
      <a id= "apply-nav" data-scroll-nav="4" href="#">  <i class="fa fa-envelope-o"></i>   <em>APPLY!</em>    </a>
      <a data-scroll-nav="2" href="#">  <i class="fa fa-envelope-o"></i>   <em>Login</em>    </a>
    </div>
  </div>
</div>
<div class="row">

</div>
