header {
  position: fixed;
  overflow: visible;
  background-color: rgba(28, 28, 28, 0.9);
  top: 0px;
  width: 100%;
  z-index: 1000;
  height: 70px;
  .box-960 {
    .header-elements {
      float: left;
      margin-right: 20px;
      .logo {
        height: 70px;
        width: 82px;
        margin-top: 3px;
        img {
          width: 100%;
          height: 90%;
        }
      }
    }
    .navigation {
      float: right;
      a {
        display: inline;
        border-right: solid 1px rgba(255, 255, 255, 0.2);
        color: white;
        line-height: 70px;
        font-size: 18px;
        padding: 0px 15px;
      }
      a:last-child {
        border-right: none;
      }
    }
  }
}

.content{
  padding: 0 20px;
  .full-bottom {
    color: rgba(126, 103, 33, 0.4);
    margin-bottom: 60px;
  }
}

.box-960 {
  width: 960px;
  margin: 0 auto;
}

.decoration {
  height: 1px;
  width: 100%;
  background-color: rgba(126, 103, 33, 0.4);
  margin-top: 10px;
  margin-bottom: 50px;
}

.center-text {
  text-align: center;
}

.alert {
  display: none;
  text-align: center;
  width: 60%;
  position: relative;
  left: 20vw;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.cancel-btn {
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  display: inline-block;
  font-weight: bold;
  font-size: 1.0em;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 12px;
  margin-right: 3px;
  padding: 7px 16px 6px;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  background: white;
  background: -webkit-linear-gradient(-90deg, white, #e7e7e7);
  background: -moz-linear-gradient(-90deg, white, #e7e7e7);
  background: linear, -90deg, white, #e7e7e7;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFE7E7E7');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFE7E7E7');
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.8) inset;
  border: solid 1px #c7c7c7;
  border-color: #c7c7c7;
  border-top-color: lightgrey;
  border-right-color: #c7c7c7;
  border-bottom-color: #c2c2c2;
  border-left-color: #c7c7c7;
  text-shadow: white 0 1px 0;
  color: #5e6469;
}
