<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<img src="http://static.giantbomb.com/uploads/square_small/2/28982/892347-english_motherfucker_do_you_speak_it.jpg" >

<h3>Some one catch you speaking spanish</h3>
<h1>It's <%=@ammount%> colones</h1>
<p>You owe us <%= @employee.total %></p>
</body>
</html>
